<div class="pagina">
      <!-- Botón visible solo en móvil -->
<button class="toggle-sidebar-btn" (click)="toggleSidebar()" *ngIf="isMobile">
  ☰ Menú
</button>

<!-- Sidebar con clase dinámica -->
<app-sidebar [ngClass]="{ 'mobile-sidebar': isMobile, 'visible': sidebarVisible }"></app-sidebar>

<div class="overlay" *ngIf="isMobile && sidebarVisible" (click)="closeSidebar()"></div>
    <div class="form-container">
        <h2>👤Mi perfil</h2>

        <form (ngSubmit)="onSubmit()" #perfilForm="ngForm">
            <!-- Nombre -->
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" [(ngModel)]="perfil.name" required placeholder="Tu nombre" />

            <!-- Correo -->
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" [(ngModel)]="perfil.email" required placeholder="Tu correo" />

            <!-- Contraseña nueva -->
            <label for="password">Nueva contraseña:</label>
            <input type="password" id="password" name="password" [(ngModel)]="perfil.password" placeholder="••••••••" />

            <!-- Confirmar contraseña -->
            <label for="password_confirmation">Confirmar contraseña:</label>
            <input type="password" id="password_confirmation" name="password_confirmation"
                [(ngModel)]="perfil.password_confirmation" placeholder="••••••••" />

            <button type="submit">Cambiar</button>

        </form>
    </div>
</div>