<div class="products">
  <div class="card auction-card">
  <img [src]="'http://localhost:8000/storage/' + auction.image" class="card-img-top" alt="{{auction.comic.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ auction.comic.title }}</h5>
    <p class="current-bid">Puja actual: {{ auction.current_price }}€</p>

    <div class="input-group">
      <input type="number" [(ngModel)]="bidAmount" [min]="auction.current_price + 1" class="form-control" placeholder="Tu puja" />
      <button class="btn btn-outline-primary" (click)="placeBid()">Pujar</button>
    </div>

    <small class="text-muted">Puja mínima: {{ auction.current_price + 1 }}€</small>
  </div>
</div>

</div>