@if (authService.isAdmin() && authService.isLoggedIn()) {
  <button *ngIf="authService.isAdmin()" (click)="toggleSidebar()" class="admin-button">
  🛠️ Crear Cómic
</button>


<div class="admin-sidebar" [class.open]="isSidebarOpen">
  <button class="close-btn" (click)="toggleSidebar()">✖</button>
  <app-comics-admin></app-comics-admin> 
</div>
}

<div class="products">
  @for (comic of comics; track comic.id) {
  <app-comic-list 
  [comic]="comic"
  (comicDeleted)="handleComicDeleted($event)"></app-comic-list>
  }
</div>
