<div class="products">
  <div class="product-card">
    <img
      [src]="'http://localhost:8000/storage/' + comic.image"
      class="product-image"
      alt="{{ comic.title }}"
      (click)="detailComic(comic.id)"
    />
    <div class="product-body">
      <h5 class="product-title">{{ comic.title }}</h5>
      <p class="product-price">{{ comic.price }} €</p>

      <div class="product-actions">
        <button class="btn btn-cart" (click)="addToCart()">🛒 Añadir al carrito</button>
        <button class="btn btn-fav" (click)="addToFavorites()">❤️ Favoritos</button>

        @if (authService.isAdmin()) {
        <button class="btn btn-delete" (click)="deleteComic(comic.id)">🗑️ Eliminar</button>
        }
      </div>
    </div>
  </div>
</div>
